<table style="table-layout:fixed;vertical-align:top;min-width:320px;border-spacing:0;border-collapse:collapse;width:100%;line-height:inherit;background-color:#ffffff!important;color:#000000!important;margin:0 auto" width="100%" cellspacing="0" cellpadding="0" bgcolor="”#ffffff”">
   <tbody style="line-height:inherit">
      <tr style="vertical-align:top;border-collapse:collapse;line-height:inherit" valign="top">
         <td style="word-break:break-word;vertical-align:top;border-collapse:collapse;line-height:inherit" valign="top">
            <div style="line-height:inherit">
               <div style="min-width:320px;max-width:500px;word-wrap:break-word;word-break:break-word;line-height:inherit;margin:0 auto">
                  <div style="border-collapse:collapse;display:table;width:100%;line-height:inherit">
                     <div style="min-width:320px;max-width:500px;display:table-cell;vertical-align:top;width:500px;line-height:inherit">
                        <div style="width:100%!important;line-height:inherit">
                           <div style="line-height:inherit;padding:0px;border-color:transparent;border-style:solid;border-width:0px 0px 20px">
                              <div style="line-height:inherit"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div style="line-height:inherit">
               <div style="min-width:320px;max-width:500px;word-wrap:break-word;word-break:break-word;line-height:inherit;margin:0 auto">
                  <div style="border-collapse:collapse;display:table;width:100%;line-height:inherit">
                     <div style="min-width:320px;max-width:500px;display:table-cell;vertical-align:top;width:500px;line-height:inherit">
                        <div style="width:100%!important;line-height:inherit">
                           <div style="line-height:inherit;padding:0px 50px 15px;border:0px solid transparent">
                              <div style="padding-right:0px;padding-left:0px;line-height:inherit" align="left">
                                 <div style="font-size:1px;line-height:10px">&nbsp;</div>
                              </div>
                              <div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.8;padding:5px 0px 0px">
                                 <div style="line-height:1.8;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px">
                                    <p style="line-height:1.8;font-size:12px;margin:0"><span style="font-size:12px;line-height:inherit;color:#000000!important"><span style="font-size:34px;line-height:inherit;color:#000000!important"><strong style="line-height:inherit">${appName}</strong></span></span></p>
                                 </div>
                              </div>
                              <div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.8;padding:15px 0px">
                                 <div style="font-size:12px;line-height:1.8;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                    <p style="font-size:14px;line-height:1.8;margin:0"><span style="font-size:14px;line-height:inherit;color:#000000!important">Click the button below to log in to <strong style="line-height:inherit">${appName}</strong>.</span></p>
                                    <p style="font-size:14px;line-height:1.8;margin:0"><span style="font-size:14px;line-height:inherit;color:#000000!important">This button will expire in 10 minutes.</span></p>
                                 </div>
                              </div>
                              <div style="line-height:inherit;padding:10px 10px 10px 0px" align="left">
                                 <a href="${link}" style="text-decoration:none;display:inline-block;background-color:#${appColour};border-radius:7px;width:auto;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;word-break:keep-all;line-height:1.5;font-size:18px;color:#ffffff!important;padding:15px 30px;border:1px solid #${appColour}" target="_blank" data-saferedirecturl="https://www.google.com/url?q=${link}&amp;source=gmail&amp;ust=1605130456379000&amp;usg=AFQjCNFxC2MGUVqXq8RDdwMkfKJnHg_RAQ">
                                 <strong style="line-height:inherit">Log in to ${appName}</strong></a>
                              </div>
                              <div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.8;padding:20px 0px 10px">
                                 <div style="font-size:12px;line-height:1.8;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                    <p style="font-size:14px;color:#${appColour};line-height:1.8;margin:0">
                                       Button not showing?<strong style="line-height:inherit">
                                       <a style="color:#${appColour};text-decoration:none;line-height:inherit" href="${link}" target="_blank" data-saferedirecturl="https://www.google.com/url?q=${link}&amp;source=gmail&amp;ust=1605130456379000&amp;usg=AFQjCNEZPnNipDBxkAv4hEc440Uvd6yTSg">
                                       Click here</a></strong>
                                    </p>
                                    <br style="line-height:inherit">
                                    <p style="font-size:14px;line-height:1.8;margin:0"><span style="font-size:14px;line-height:inherit;color:#000000!important">Confirming this request will securely log you in using <strong style="line-height:inherit"><a style="line-height:inherit;color:None!important;text-decoration:none!important">${email}</a></strong><wbr>.</span></p>
                                    <p style="font-size:14px;line-height:1.8;margin:0">&nbsp;</p>
                                    <p style="font-size:14px;line-height:1.8;margin:0"><span style="font-size:14px;line-height:inherit;color:#000000!important">This request came from <strong style="line-height:inherit">${location}</strong> using <strong style="line-height:inherit">${browser}</strong> at <strong style="line-height:inherit">${time}</strong>.</span></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div style="line-height:inherit">
               <div style="min-width:320px;max-width:500px;word-wrap:break-word;word-break:break-word;line-height:inherit;margin:0 auto">
                  <div style="border-collapse:collapse;display:table;width:100%;line-height:inherit">
                     <div style="min-width:320px;max-width:500px;display:table-cell;vertical-align:top;width:500px;line-height:inherit">
                        <div style="width:100%!important;line-height:inherit">
                           <div style="line-height:inherit;padding:10px 50px 40px;border:0px solid transparent">
                              <div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.8;padding:0px">
                                 <div style="font-size:12px;line-height:1.8;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                    <p style="font-size:14px;line-height:1.8;margin:0"><span style="font-size:14px;line-height:inherit;color:#000000!important"><strong style="line-height:inherit">- ${appName} Team</strong></span></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </td>
      </tr>
   </tbody>
</table>
